<!doctype html>
<html>
    <head>
        <title>Admin-Ecommerce-Cart</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body{font:400 15px/1.8 Lato,sans-serif;color:#777}h3,h4{margin:10px 0 30px;letter-spacing:10px;font-size:20px;color:#111}.container{padding:80px 120px}.person{border:10px solid transparent;margin-bottom:25px;width:80%;height:80%;opacity:.7}.person:hover{border-color:#f1f1f1}.carousel-inner img{-webkit-filter:grayscale(90%);filter:grayscale(90%);width:100%;margin:auto}.carousel-caption h3{color:#fff!important}@media (max-width:600px){.carousel-caption{display:none}}.bg-1{background:#2d2d30;color:#bdbdbd}.bg-1 h3{color:#fff}.bg-1 p{font-style:italic}.list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}.list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}.thumbnail{padding:0 0 15px;border:none;border-radius:0}.thumbnail p{margin-top:15px;color:#555}.btn{padding:10px 20px;background-color:#333;color:#f1f1f1;border-radius:0;transition:.2s}.btn:focus,.btn:hover{border:1px solid #333;background-color:#fff;color:#000}.close,.modal-header,h4{background-color:#333;color:#fff!important;text-align:center;font-size:30px}.modal-body,.modal-header{padding:40px 50px}.nav-tabs li a{color:#777}#googleMap{width:100%;height:400px;-webkit-filter:grayscale(100%);filter:grayscale(100%)}.navbar{font-family:Montserrat,sans-serif;margin-bottom:0;background-color:#2d2d30;border:0;font-size:11px!important;letter-spacing:4px;opacity:.9}.navbar .navbar-brand,.navbar li a{color:#d5d5d5!important}.navbar-nav li a:hover{color:#fff!important}.navbar-nav li.active a{color:#fff!important;background-color:#29292c!important}.navbar-default .navbar-toggle{border-color:transparent}.open .dropdown-toggle{color:#fff;background-color:#555!important}.dropdown-menu li a{color:#000!important}footer,footer a{color:#f5f5f5}.dropdown-menu li a:hover{background-color:red!important}footer{background-color:#2d2d30;padding:32px}footer a:hover{color:#777;text-decoration:none}.form-control{border-radius:0}textarea{resize:none}
            .fa-facebook , .btn-primary , .btn-primary:hover{background-color: #428bca; border-color: #357ebd;   color: #fff;}
            .fa-google-plus , .btn-danger ,.btn-danger:hover{	color: #fff; background-color: #d9534f;  border-color: #d43f3a;}
        </style>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <style type="text/css">
            .navbar .navbar-brand,.navbar li a{color:#d5d5d5!important}.navbar-nav li a:hover{color:#fff!important}.navbar-nav li.active a{color:#fff!important;background-color:#29292c!important}.navbar-default .navbar-toggle{border-color:transparent}
            .navbar{background: #777;}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand " href="#" style="font: bold;font-style: italic;font-size: 30px;padding-bottom: 10px;"> <span class="glyphicon glyphicon-shopping-cart"></span> Ecommerce-Cart</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                       <li><a href="/">HOME</a></li>
                        <li><a href="/adminlogin">LOGIN</a></li>
                        <li><a href="/adminsignup">SIGN UP</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3 jumbotron">
                <h1 class="text-center"><span class="fa fa-sign-in"></span>Admin Login</h1>

                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/adminlogin" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" min="4" required>
                    </div>
                    <p class="text-right"><a href="/adminforgotpassword">Forgot Password ?</a></p>
                    <div class="text-center"><button type="submit" class="btn btn-warning btn-lg">Login</button></div>
                </form>
                <hr>
                <div class="text-center">
                    <p>Need an account? <a href="/adminsignup">Sign Up</a></p>
                </div>

            </div>
        </div>
        <footer class="text-center">
            <p><a href='mailto:chandrashekar.mungi@gmail.com'>Chandrashekar.mungi@gmail.com</a></p>
        </footer>

    </body>
</html>